<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" size="large" name="chevron-back-outline" (click)="close()"></ion-icon>
    <ion-title>Edit {{ character.name }}</ion-title>
    <ion-icon slot="end" size="large" name="save-outline" (click)="save()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img">
    <img src="{{characterImage}}" alt="" (click)="changeImage()">
  </div>

  <ion-row class="container">
    <ion-item>
      <h2>{{character.name}}</h2>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input name="gender" type="text" [(ngModel)]="character.gender"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Hair Color</ion-label>
      <ion-input name="gender" type="text" [(ngModel)]="character.hair_color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Eye Color</ion-label>
      <ion-input name="gender" type="text" [(ngModel)]="character.eye_color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Skin Color</ion-label>
      <ion-input name="gender" type="text" [(ngModel)]="character.skin_color"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Height</ion-label>
      <ion-input name="gender" type="text" [(ngModel)]="character.height"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mass</ion-label>
      <ion-input name="gender" type="text" [(ngModel)]="character.mass"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Birth Year</ion-label>
      <ion-input name="gender" type="text" [(ngModel)]="character.birth_year"></ion-input>
    </ion-item>

  </ion-row>

</ion-content>