<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" size="large" name="chevron-back-outline" (click)="close()"></ion-icon>
    <ion-title>{{ character.name }}</ion-title>
    <ion-icon slot="end" size="large" name="create-outline" (click)="editCharacter(character)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="img">
    <img src="{{characterImage}}" alt="">
  </div>
  <div class="">
    <h3>{{character.name}}</h3>
    <h3>Gender : {{character.gender}}</h3>
    <h3>Hair Color : {{character.hair_color}}</h3>
    <h3>Eyes Color : {{character.eye_color}}</h3>
    <h3>Skin Color : {{character.skin_color}}</h3>
    <h3>Height : {{character.height}}</h3>
    <h3>Mass : {{character.mass}}</h3>
    <h3>Birth Year : {{character.birth_year}}</h3>
    <h3 *ngFor="let starship of character.starships">{{starship}}</h3>
    <h3>Article Created : {{created}}</h3>
    <h3>Article Updated : {{edited}}</h3>
  </div>
  
</ion-content>