.hidden
{
    display : none
}

ion-header
{
    ion-toolbar
    {
        color: #FFA806;
        .leftIcon
        {
            margin-left: 2vw;
        }
        .rightIcon
        {
            margin-right: 2vw;
        }
    }
}