<ion-header>
  <ion-toolbar>
      <ion-icon slot="start" name="settings-outline" size="large" (click)="openLanguageModal()"></ion-icon>
    <ion-title class="ion-text-center">Star Wars Database</ion-title>
      <ion-icon slot="end" name="search-outline" size="large" (click)="onClick()"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="div" *ngFor="let character of characters">
    <h1 (click)="getCharacter(character.url)">{{ character.name }}</h1>
  </div>
  
</ion-content>
